/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem !important;
    font-weight: bolder !important;
}

#sidebarNav h3 {
    text-align: center !important;
    margin-bottom: 20px;
}